src/main/resources/bceao.head.001.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.18) on 2022 Mar 15 15:43:30, ISO 20022 version : 2013-->
<xs:schema xmlns="https://pisfn-docs.bceao.int/xsd/bceao.head.001.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    elementFormDefault="qualified" targetNamespace="https://pisfn-docs.bceao.int/xsd/bceao.head.001.001.03">
    <xs:element name="AppHdr" type="BusinessApplicationHeaderV03"/>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification18"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessApplicationHeaderV03">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CharSet" type="UnicodeChartsCode"/>
            <xs:element name="Fr" type="Party44Choice"/>
            <xs:element name="To" type="Party44Choice"/>
            <xs:element name="BizMsgIdr" type="Max35Text"/>
            <xs:element name="MsgDefIdr" type="Max35Text"/>
            <xs:element name="CreDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgntr" type="SignatureEnvelope"/>
        </xs:sequence>
    </xs:complexType>
   
    <xs:complexType name="Contact4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification18">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="1" name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1"> <!--Permet de definir le pattern pour la validation de la balise -->
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification29">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party44Choice">
        <xs:sequence>
            <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification6"/>
        </xs:sequence>
    </xs:complexType>
   
    <xs:complexType name="SignatureEnvelope">
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UnicodeChartsCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
</xs:schema>
